$primary: #f97316;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545; //#f25767;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;

$color-light-gray: rgb(245, 247, 250);

$main-button-color: #ea580c;
$main-button-backgound-color: rgba(255, 228, 176, 0.64);
$brand-color: #f97316;
$backgroundColor: #ffe4b0a3;
$borderBottom: #f97316;
$signature-border: #000;
// $$dropdown:#73a47;
$overlay-bg: white;
$createtask-bg: #ffe4b0a3;

$color-white: white;
$color-theme-orange: #f97316;
$color-white-2: #eaeaea;
$color-black: black;
$color-red: red;
$color-red-dark: #8b0000;
$color-white-3: #e0dddd;
$color-white-4: #fff;
$color-white-5: #f1f1f1;
$color-white-6: #c9c9c9;
$color-white-7: #ffffff;
$color-white-8: #f9f9f9;
$color-white-9: #eff2f5;
$color-white-10: #f8f8f8;
$color-white-11: #fff8e1;
$color-white-12: #e8e8e8;
$color-white-13: #f5f8fa;
$color-white-14: #f8f9fa;

// black start
$color-black-1: #212529;
$color-black-2: #0f111f;
$color-black-3: #212121;
$color-black-4: #222;
// black end

// gray start
$color-gray-1: #c4c4c4;
$color-gray-2: #ccc;
$color-gray-3: #eee;
$color-gray-4: #9e9e9e;
$color-gray-5: #777;
$color-gray-6: #706c6c;
$color-gray-7: #888;
$color-gray-8: #bbb;
$color-gray-9: #777;
$color-gray-10: #baf5cd;
$color-gray-11: #a1a5b7;
$color-gray-12: #8f969f;
$color-gray-13: #495057;
$color-white-15: #ddd;
// gray end

// orange start
$color-orange: #df9638;
$color-orange-1: #ea580c;
$color-orange-2: #f97316;
// orange end

// brown start
$color-brown: brown;
$color-brown-1: #ca2222;
$color-brown-2: #e21c0e;
// brown end

// green start
$color-green: green;
$color-green-1: #a5d24a;
$color-green-2: #2ab934;
// green end

$color-inherit: inherit;
